@model PedidoModel

@{
    ViewData["Title"] = "Pedidos";
}
<script>
    function selecionarLanche(id)
    {
        $.get("/Pedido/SelecionarLanche/"+id);
    }
</script>

<table class='table table-hover'>
<thead>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Ingredientes</th>
        <th></th>
        
    </tr>
</thead>
<tbody>
    @foreach(var l in @Model.Lanches)
    {
        <tr>
            <td>@l.Id</td>
            <td>@l.Nome</td>
            <td>@l.DescricaoIngredientes()</td>
            <td>@Html.ActionLink("Selecionar", "MontarPedido", new { id = l.Id })
                </td>
            
        </tr>
    }
</tbody>
</table> 

<div class='col-sm-8'>
<h2>Pedido</h2>
<form name="PedidoForm">
    <div class="form-group">
        <label for="name">Lanche</label>  
        <input id="name" type="text" class="form-control" disabled>

        <div class="row">
            <div class="col-sm-4">
                <label for="Ingredientes" >Ingredientes</label>                          
                <select name="cars" multiple class="form-control">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
            <div class="col-sm-4">
            <label for="Ingredientes" >Ingredientes</label>                          
            <select name="cars" multiple class="form-control">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
            </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label for="Ingredientes" >Ingredientes</label>                          
                <select name="cars" multiple class="form-control">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
            <div class="col-sm-4">
            <label for="Ingredientes" >Ingredientes</label>                          
            <select name="cars" multiple class="form-control">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
            </select>
            </div>
        </div>


        <table class='table table-hover'>
        <thead>
            <tr>
                <th>Promocoes</th>        
                
            </tr>
        </thead>
        <tbody>
            @foreach(var l in @Model.Lanches)
            {
                <tr>
                    <td>@l.Nome</td>                       
                </tr>
            }
        </tbody>
        </table>
       
        <label for="name">Valor Lanche</label>  
        <input id="name" type="text" class="form-control" disabled>
      
        <label for="name">Valor Total</label>  
        <input id="name" type="text" class="form-control" disabled>
        
    
    
    </div>
<button type="submit"  class="btn btn-success">Submit</button>

    

   
</form>
</div>