@model PedidoModel

@{
    ViewData["Title"] = "Pedidos";
}
<script>
    function selecionarLanche(id)
    {
        $.get("/Pedido/SelecionarLanche/"+id);
    }
</script>

<table class='table table-hover'>
<thead>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Ingredientes</th>
        <th></th>
        
    </tr>
</thead>
<tbody>
    @foreach(var l in @Model.Lanches)
    {
        <tr>
            <td>@l.Id</td>
            <td>@l.Nome</td>
            <td>@l.DescricaoIngredientes()</td>
            <td>@Html.ActionLink("Selecionar", "MontarPedido", new { id = l.Id })
                </td>
            
        </tr>
    }
</tbody>
</table> 

