@model PedidoModel

@{
    ViewData["Title"] = "Pedido";
}




<div class='col-sm-8'>
<h2>Pedido</h2>

    <div class="form-group">
<form name="formPedido" id="formPedido">
        <input id="LancheId" value="@Model.Item.Item.Id" hidden>
        <label for="name">Lanche</label>  
        <input id="name" type="text" class="form-control" value="@Model.Item.Item.Nome" disabled>

        <div class="row">
            <div class="col-sm-4">
                <label for="Ingredientes" >Ingredientes</label>                          
                <select id="IngredientesLanche" multiple class="form-control">
                @foreach(var i in @Model.Item.Item.Ingredientes)
                    {
                        <option value="@i.Id" onclick="removerIngrediente(this);">@i.Nome</option>
                    }
                    
                </select>
            </div>

            <div class="col-sm-4">
            <label for="Ingredientes" >Ingredientes Removidos</label>                          
            <select multiple name="IngredientesRemovidos" id="IngredientesRemovidos"  class="form-control">
                 
            </select>
            </div>
        </div>
        <!--div class="row">
            <div class="col-sm-4">
                <label for="Ingredientes" >Ingredientes Adicionais</label>                          
                <select id="IngredientesAdicionaisDisponiveis" multiple class="form-control">
                    
                </select>
            </div>
            <div class="col-sm-4">
            <label for="Ingredientes" >Ingredientes Adicionados</label>                          
            <select id="IngredientesAdicionais" name="IngredientesAdicionais" multiple class="form-control">                
            </select>
            </div>
        </div -->
<h3 id="ItensAdicionais">Itens Adicionais</h3>
     <table class='table table-hover' id="tableIngredientes">
        <thead>
            <tr>
                <th style = "display:none">Id</th>
                <th>Ingrediente</th>
                <th>Quantidade</th> 
                <th></th> 
                <th></th>                
            </tr>
        </thead>
        <tbody>
           
        </tbody>
        </table>
<p></p>

<button class="btn btn-success" onclick="calcularPreco();return false;">Calcular Valor</button>
<p></p>
</form>
        <table class='table table-hover' id="tablePromocoes">
        <thead>
            <tr>
                <th>Promocoes</th>        
                <th>Valor</th>
            </tr>
        </thead>
        <tbody> 
            <tr><td></td><td></td></tr>           
        </tbody>
        </table>
       
        <label for="name">Valor Lanche</label>  
        <input type="text" class="form-control" id="ValorLanche" disabled>
      
        <label for="name">Valor Total</label>  
        <input type="text" class="form-control" id="ValorTotal" disabled>
     <p></p>      
    <button class="btn btn-success" onclick="calcularPreco();return false;">Fechar Pedido</button>
    </div>
</div>


  <div class="modal fade" id="modalPedido" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Pedido</h4>
        </div>
        <div class="modal-body">
          <p id="TextoModal"> Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" onclick="location.href='/pedido'">OK</button>
        </div>
      </div>
      
    </div>
  </div>

@section scripts {
<script type="text/javascript">
    function removerIngrediente(val)
    {
        $('#IngredientesRemovidos')
            .append($('<option>', {value: val.value, text: val.text, onclick : "retornarIngrediente(this);"}));
        val.remove();
    }

    function retornarIngrediente(val)
    {
        $('#IngredientesLanche')
            .append($('<option>', {value: val.value, text: val.text, onclick : "removerIngrediente(this);"}));
        val.remove();
    }

    function adicionarIngrediente(val)
    {
        $('#IngredientesAdicionais')
            .append($('<option>', {value: val.value, text: val.text, onclick : "removerIngredienteAdicional(this);"}));
        val.remove();
    }

    function removerIngredienteAdicional(val)
    {
        $('#IngredientesAdicionaisDisponiveis')
            .append($('<option>', {value: val.value, text: val.text, onclick : "adicionarIngrediente(this);"}));
        val.remove();
    }

    $( document ).ready(function() {
        listarIngredientes();
    });

    function listarIngredientes()
    {
       //$()

       $.get('/Pedido/ListarIngredientes',
            function(data){
                console.log(data); 
                data.forEach(function(item)
                {
                    /*$('#IngredientesAdicionaisDisponiveis')
                        .append($('<option>', {value: item.id, text: item.nome, onclick : "adicionarIngrediente(this);"}));
                    */
                    var adiciona = '<a href="#ItensAdicionais" onClick="addIngrediente(this);return false;">Adicionar</a>';
                    var remove = '<a href="#ItensAdicionais" onClick="SubIngrediente(this);return false;">Remover</a>';

                    $('#tableIngredientes tr:last').after('<tr><td style ="display:none">'+item.id+'</td><td>'+item.nome+'</td><td name="quantidade">0</td><td>'+ adiciona +'</td><td>'+remove+'</td></tr>');
                });
            });
    }

    function addIngrediente(val)
    {  
       
        var value = Number($(val).parent().parent()[0].children[2].textContent);

        $(val).parent().parent()[0].children[2].textContent = value +1;
    }

     function SubIngrediente(val)
    {               
        var value = Number($(val).parent().parent()[0].children[2].textContent);
        if(value > 0)
            $(val).parent().parent()[0].children[2].textContent = value -1;
    }

    function calcularPreco()
    {
        var ingredienteAdicionais = [];

        $('#tableIngredientes TR').each(function(index, value) { 
            if(index > 0) 
            {
                if(!isNaN(value.children[2].textContent) && 
                    Number(value.children[2].textContent) > 0 )
                {
                    var qtd = Number(value.children[2].textContent);
                    for(i=0;i< qtd; i++)
                    {
                      ingredienteAdicionais.push(value.children[0].textContent)  ;
                    }
                }
            }
        });

        var model =
        {
            LancheId : $('#LancheId').val(),
            IngredientesRemovidos : getValueFromSelect("IngredientesRemovidos"),
            IngredientesAdicionais : ingredienteAdicionais
        }    

        console.log(model);

        var itemPedido;
        $.post("/Pedido/CalcularPreco",
        model
        ,function(data)
            {
                itemPedido = data;
                console.log(data);

                $('#ValorLanche').val(data.valor);
                $('#ValorTotal').val(data.valorTotal);

                $('#tablePromocoes > tbody').html('');
                data.descontos.forEach(function(item)
                {                    
                    $('#tablePromocoes tbody').append('<tr><td>'+item.promocao.nome+'</td><td >'+ item.valor+'</td></tr>');
                });
            });

        return itemPedido;
    }

    function FinalizarPedido()
    {
        var item = calcularPreco();
        console.log('modal')
        $('#TextoModal').html('O numero do seu pedido eh ' + item.id);
        $("#modalPedido").modal();
    }

    function getValueFromSelect(select)
    {
        var arr = [];

        $("#" + select + " > option").each(function(){
            arr.push(this.value);
        });

        return arr;
    }
</script>
}